*{color:black;}

h1, h2{
    text-align: center;
}

body{
    background-color:bisque;
}


label:hover{
    background-color: pink;
    
}

#email:hover{
    background-color: cyan;
}
#pass:hover{
    background-color: cyan;

}
